/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #banner {
        background-position: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* banner part start  */
    #banner {
        background-position: center;
    }

    #banner .banner-overlay {
        padding-top: 240px;
        padding-bottom: 180px;

    }


    .banner-text h3 {
        font-size: 26px;
    }


    .banner-text h1 {
        font-weight: 400;
        font-size: 35px;
        padding: 30px 0px 10px 0px;

    }

    .banner-text span {
        font-size: 50px;
    }

    .banner-text p {
        font-size: 16px;
        line-height: 30px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    /* banner part end */
    /* about part start  */
    .about-img {
        width: 367px;
        margin: 0 auto;
    }

    .about-img img {
        width: 100%;
    }

    /* about part end */

    /* serice part start  */
    #service {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    /* serice part end */
    /* conatct part start */
    #contact {
        padding: 70px 0px;
    }

    .contact-part {
        padding-top: 40px;

    }

    .contact-form .name,
    .contact-form .email {
        width: 100%;

    }

    .contact-form form {
        text-align: center;
    }

    /* conatct part end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* common start  */
    .common-head {
        text-align: center;
    }

    .common-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    /* common end */

    /* header part start  */
    .navbar button {
        outline: none;
        border: none;
    }

    .navbar button i {
        font-size: 30px;
        color: #000;
    }

    /* header part end */
    .navbar-nav .nav-link::after,
    .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-nav .nav-link {
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    #navbarSupportedContent .menu-btn {
        text-align: center;
        margin-top: 30px;
    }

    .menu-btn a {
        margin-left: 0px !important;
    }

    /* header part end  */

    /* banner part start  */
    #banner .banner-overlay {
        padding-top: 240px;
        padding-bottom: 180px;

    }

    .banner-content {
        margin-right: auto;
    }

    .banner-text h3 {
        font-size: 26px;
    }


    .banner-text h1 {
        font-weight: 400;
        font-size: 40px;
        padding: 30px 0px 10px 0px;

    }

    .banner-text span {
        font-size: 60px;
    }

    .banner-text p {
        font-size: 16px;
        line-height: 30px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    /* banner part end */

    /* about part start  */
    #about {
        padding: 100px 0px;
    }

    .about-head {
        padding-top: 30px;
    }

    .about-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .about-img {
        width: 367px;
        margin: 0 auto;
    }

    .about-img img {
        width: 100%;
    }

    .about-text {
        text-align: center;
    }

    .about-img-part {
        text-align: center;
    }

    /* about part end */
    /* service part start */

    #service {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .service-head {
        text-align: center;
    }

    .service-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .service-item {
        text-align: center;
    }

    /* service part end */

    /* testimonial part start */
    #testimonial {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .testimonial-item p {
        padding: 30px 0px 40px 0px !important;
        font-size: 25px !important;
        line-height: 30px !important;
    }

    /* testimonial part end */
    /* counter part start  */
    .counter-item {
        padding: 40px 0px;
        border-bottom: 1px solid #ddd;
    }

    /* counter part end */
    /* conatct part start */
    #contact {
        padding: 70px 0px;
    }

    .contact-part {
        padding-top: 40px;

    }

    .contact-form .name,
    .contact-form .email {
        width: 100%;

    }

    .contact-form form {
        text-align: center;
    }

    /* conatct part end */

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* common start  */
    .common-head {
        text-align: center;
    }

    .common-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    /* common end */

    /* header part start  */
    .navbar button {
        outline: none;
        border: none;
    }

    .navbar button i {
        font-size: 30px;
        color: #000;
    }

    /* header part end */
    .navbar-nav .nav-link::after,
    .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-nav .nav-link {
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    #navbarSupportedContent .menu-btn {
        text-align: center;
        margin-top: 30px;
    }

    .menu-btn a {
        margin-left: 0px !important;
    }

    /* header part end  */

    /* banner part start  */
    #banner .banner-overlay {
        padding-top: 220px;
        padding-bottom: 180px;

    }

    .banner-text h3 {
        font-size: 26px;
    }


    .banner-text h1 {
        font-weight: 400;
        font-size: 35px;
        padding: 30px 0px 10px 0px;

    }

    .banner-text span {
        font-size: 50px;
    }

    .banner-text p {
        font-size: 16px;
        line-height: 30px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    /* banner part end */
    /* about part start  */
    #about {
        padding: 100px 0px;
    }

    .about-head {
        padding-top: 30px;
    }

    .about-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .about-img {
        width: 367px;
        margin: 0 auto;
    }

    .about-img img {
        width: 100%;
    }

    .about-text {
        text-align: center;
    }

    .about-img-part {
        text-align: center;
    }

    /* about part end */
    /* service part start */

    #service {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .service-head {
        text-align: center;
    }

    .service-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .service-item-part {
        padding-top: 40px;
    }

    .service-item {
        text-align: center;
    }

    /* service part end */

    /* work part start  */
    #work {
        padding: 80px 0px;
    }

    .work-item-part {
        padding-top: 50px;
    }

    /* work part end  */

    /* testimonial part start */
    #testimonial {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .testimonial-item p {
        padding: 30px 0px 40px 0px !important;
        font-size: 25px !important;
        line-height: 30px !important;
    }

    /* testimonial part end */

    /* counter part start  */
    .counter-item {
        padding: 40px 0px;
        border-bottom: 1px solid #ddd;
    }

    /* counter part end */
    /* blog part start  */
    #blog {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .blog-item-part {
        padding-top: 30px;
    }

    .blog-item h4 {
        padding: 15px 0px;

    }

    /* blog part end */
    /* conatct part start */
    #contact {
        padding: 70px 0px;
    }

    .contact-part {
        padding-top: 40px;

    }

    .contact-form .name,
    .contact-form .email {
        width: 100%;

    }

    .contact-form form {
        text-align: center;
    }

    /* conatct part end */
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575.98px) {

    /* common start  */
    .common-head {
        text-align: center;
    }

    .common-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    /* common end */



    /* header part start  */
    .navbar button {
        outline: none;
        border: none;
    }

    .navbar button i {
        font-size: 30px;
        color: #000;
    }

    /* header part end */
    .navbar-nav .nav-link::after,
    .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-nav .nav-link {
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    #navbarSupportedContent .menu-btn {
        text-align: center;
        margin-top: 30px;
    }

    .menu-btn a {
        margin-left: 0px !important;
    }

    /* header part end  */

    /* banner part start  */
    #banner .banner-overlay {
        padding-top: 200px;
        padding-bottom: 150px;

    }

    .banner-text h3 {
        font-size: 24px;
    }


    .banner-text h1 {
        font-weight: 400;
        font-size: 30px;
        padding: 20px 0px 10px 0px;

    }

    .banner-text span {
        font-family: 'Poppins',
            sans-serif;
        font-weight: 400;
        font-size: 35px;
    }

    .banner-text p {
        font-size: 15px;
        line-height: 24px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    /* banner part end */

    /* about part start  */
    #about {
        padding: 100px 0px;
    }

    .about-head {
        padding-top: 30px;
    }

    .about-img {
        width: 300px;
    }

    .about-img::after {
        position: absolute;
        content: '';
        height: 368px;
        width: 300px;
        bottom: -17px;
        right: -6%;
        background-color: #01be67;
        z-index: -1;
    }

    .about-text {
        text-align: center;
    }

    .about-img-part {
        margin: 0 auto;
    }

    /* about part end */

    /* service part start */
    #service {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .service-head {
        text-align: center;
    }

    .service-head h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .service-item-part {
        padding-top: 40px;
    }

    .service-item {
        text-align: center;
    }

    /* service part end */

    /* work part start  */
    #work {
        padding: 70px 0px;
    }

    .work-item-part {
        padding-top: 40px;
    }

    /* work part end */
    /* testimonial part start */
    #testimonial {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .testimonial-item p {
        padding: 30px 0px 40px 0px !important;
        font-size: 25px !important;
        line-height: 30px !important;
    }

    /* testimonial part end */

    /* counter part start  */
    .counter-item {
        padding: 40px 0px;
        border-bottom: 1px solid #ddd;
    }

    /* counter part end */

    /* blog part start  */
    #blog {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .blog-item-part {
        padding-top: 30px;
    }

    .blog-item h3 {
        font-size: 19px;
    }

    .blog-item p {
        font-size: 16px;
    }

    .blog-item h4 {
        padding: 15px 0px;

    }

    /* blog part end */

    /* conatct part start */
    #contact {
        padding: 70px 0px;
    }

    .contact-part {
        padding-top: 40px;

    }

    .contact-form .name,
    .contact-form .email {
        width: 100%;

    }

    .contact-form form {
        text-align: center;
    }

    /* conatct part end */
}